beautifulsoup4
bs4
certifi
chardet
Click
future
idna
lxml
np-utils
numpy
pandas
Pillow
pip
pyparsing
python-dateutil
pytz
requests
selenium
setuptools
six
soupsieve
split-folders
svgwrite
Tree
urllib3
wheel